:root {
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --white: #fff;
  --gray: #555;
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--indigo-100);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: var(--indigo-400);
  padding: 20px;
  color: var(--white);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 20px;
}

.main {
  padding: 20px;
}

.main .title {
  text-align: center;
  margin: 40px auto;
  font-size: 24px;
  color: var(--indigo-400);
}

.book-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  padding: 20px;
  border-radius: 12px;
  background: var(--white);
  min-width: 400px;
  flex: 1;
  box-shadow: 2px 2px 6px var(--indigo-200);
  transition: all .2s ease;

  display: flex;
  gap: 20px;
}

.book-item:hover {
  box-shadow: 0 0 10px var(--indigo-400);
}

.book-item__title {
  flex: 1;
  font-size: 18px;
  margin-bottom: 10px;
}

.book-item__author {
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 10px;
}

.book-item__price {
  color: var(--indigo-300);
  font-weight: 600;
}

.book-item__img {
  width: 150px;
  height: auto;
}

.book-item__action {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.book-item__action .button {
  padding: 10px 20px;
  transition: all .2s ease;
  border-radius: 8px;
  cursor: pointer;
}

.book-item__add {
  background: var(--indigo-400);
  border: transparent;
  color: var(--white);
  border: 1px solid var(--indigo-400);
}

.book-item__add:hover {
  background: var(--indigo-500);
}

.book-item__description {
  border: 1px solid var(--indigo-400);
  background: none;
  color: var(--indigo-400);
}

.book-item__description:hover {
  background: var(--indigo-400);
  color: var(--white);
}